<div class="container">
  <h1>Welcome to LinePlease!</h1>
  <form method="GET" action="/sign_in">
    <input type ="submit" VALUE="Sign In">
  </form>
  <form method="GET" action="/sign_up">
    <input type ="submit" VALUE="Sign Up">
  </form>
</div>
