<div class="container">

  <h4>All right, let's go over <%= @character.name %>'s lines for this scene... </h4>

  <button class="begin">From the top!</button>
    <ul class="scene-lines">
      <% @lines.each do |line| %>
      <li><%= line.text %></li>
      <% end %>
    </ul>
</div>