<div class="container">
  <h3>What scene would you like to study?</h3>
  <ul>
    <% @scenes.each do |scene| %>
      <li>
        <a href="/characters/<%= @character.id %>/scenes/<%= scene.id %>">Scene: <%= scene.id %></a>
      </li>
    <% end %>
  </ul>

</div>