<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
    <nav>
      <h1>Line, please!</h1>
      <ul>
        <% if session[:id] %>
        <a href="/sign_out"><li>Sign Out</li></a>
        <a href="/users/<%= session[:id] %>"><li>Home</li></a>
        <% else %>
        <a href="/sign_in"><li>Sign In</li></a>
        <a href="/sign_up"><li>Sign Up</li></a>
        <% end %>
      </ul>
    </nav>
<body>
  <%= yield %>
</body>
</html>
