<div class="container">
  <h4>So you're working on <%= @script.title %>? Cool.</h4>

<form id="add-lines" action="/scene/<%= @script.id %>/lines" method="POST">
  <h4>What character are you working on?</h4>
    <input type="text" name="character" placeholder="Character Name"><br>
  <div class="line-forms">
  <h4>What's your cue?</h4>
    <p><input type="text" name="partner" placeholder="Their name is..."><br>
      <input type="text" name="cue" placeholder="They say..."></p>
  <h4>What's your line?</h4>
    <p><input type="text" name="line" placeholder="I say..."></p>
    <p><input name="complete" type="submit" value="I have more lines!"></p>
  </div>
    <p><input name="done" type="submit" value="That's it for this scene"></p>
</form>

</div>