<div class="container">
  <h1>Welcome to Line, Please!</h1>
  <h3>What would you like to do?</h3>
    <ul>
      <li><a href="/scenes/new">Enter a scene</a></li>
      <li><a href="/characters">Learn your lines</a></li>
    </ul>

</div>